body {}
.wrap {
    background-color:#E2F0CB;
    width:393px; height:100vh;
    padding:20px 15px;
    text-align:center;
    margin-bottom:15px;
}
.wrap h2, /* 그룹선택자 (,)기준으로 뒤 선택자 reset, 부모부터 다시쓰기 */
.wrap h3 {font-size:1.5em; font-weight:700; margin-bottom:30px;} 
.wrap h2 {}
/* 인접형제선택자를 이용한 p 선택방법 + 그룹(,)
.wrap h2+p,
.wrap h3+p {}
수열선택자를 이용한 p 선택방법 + 그룹(,)
.wrap p:nth-child(2),
.wrap p:nth-child(5), {}

.wrap p:nth-child(2) em {color:#FF0000;}
*/
.wrap h2+p,
.wrap h3+p {font-size:0.75em; margin:bottom 15px;}
.wrap h2+p em {color:#FF0000;}
.wrap p {}
.wrap p em {}
.wrap #content {margin:0 0 30px;}
.wrap #content span {background-color:#FFF375;}
.wrap h3 {}
.wrap h3+p {}
.wrap p:nth-child(5) {}
.wrap .details {}
.wrap .details em {}